<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Brouwkuyp-control{% endblock %}</title>
    {% stylesheets
        '../src/Brouwkuyp/Bundle/DashboardBundle/Resources/public/less/bootstrap.less'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% javascripts
    'js/jquery.js'
    'js/bootstrap.js'
    'bundles/brouwkuypdashboard/js/sockjs.min.js'
    'bundles/brouwkuypdashboard/js/stomp.min.js'
    'bundles/brouwkuypdashboard/js/highstock.js'
    'bundles/brouwkuypdashboard/js/init.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
