Brouwkuyp\Bundle\ServiceBundle\Entity\Formula:
    type: entity
    table: formula
    repositoryClass: Brouwkuyp\Bundle\ServiceBundle\Repository\FormulaRepository

    id:
        id:
            type:           integer
            generator:
                strategy:   AUTO

    fields:
        name:
            type:       string
            length:     120

    oneToOne:
        controlRecipe:
            targetEntity: ControlRecipe
            mappedBy: formula
