Brouwkuyp\Bundle\ServiceBundle\Entity\Operation:
    type: entity
    table: operation
    repositoryClass: Brouwkuyp\Bundle\ServiceBundle\Repository\OperationRepository

    id:
        id:
            type:           integer
            generator:
                strategy:   AUTO

    fields:
        name:
            type:       string
            length:     120

    oneToMany:
        phases:
            targetEntity: Phase
            mappedBy: operation

    manyToOne:
        unitProcedure:
            targetEntity: UnitProcedure
            inversedBy: operations
            joinColumn:
                name: unit_procedure_id
                referencedColumnName: id
