Brouwkuyp\Bundle\ServiceBundle\Entity\UnitProcedure:
    type: entity
    table: unit_procedure
    repositoryClass: Brouwkuyp\Bundle\ServiceBundle\Repository\UnitProcedureRepository

    id: 
        id: 
            type:           integer
            generator:
                strategy:   AUTO

    fields: 
        name: 
            type:       string
            length:     120

    oneToMany:
        operations:
            targetEntity: Operation
            mappedBy: unitProcedure

    manyToOne:
        procedure:
            targetEntity: Procedure
            inversedBy: unitProcedures
        unit:
            targetEntity: Unit
