{% extends 'BrouwkuypDashboardBundle::base.html.twig' %}

{% block content %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Datum</td>
            <td>Naam</td>
        </tr>
        </thead>
        <tbody>
        {% for batch in batches %}
        <tr>
            <td>{{ batch.createdAt|date('d-M-Y H:i:s') }}</td>
            <td>{{ batch.controlRecipe.name }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">Nog geen brouwsels gemaakt</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
