{% extends 'BrouwkuypDashboardBundle::base.html.twig' %}

{% block content %}
    <h1>Brouwkuyp dashboard</h1>
    <div id="graph" style="min-width: 310px; height: 540px; margin: 0 auto"></div>
{% endblock %}
